@font-face {
  font-family: "KCC-Ganpan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.carousel-container {
  overflow: hidden;
  height: 400px;
  padding: 0px 20px;
}

h3 {
  font-size: 25px;
  font-family: "KCC-Ganpan", sans-serif;
  margin-top: 40px;
  margin-left: 30px;
}

/* 반응형 */
@media screen and (max-width: 63rem) {
  h3 {
    font-size: 20px;
    margin-top: 30px;
  }
}
